* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Volkhov", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #060606;
}

p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: #707070;
  font-family: "Source Sans Pro", sans-serif;
}

.title {
  font-size: 22px;
  color: #fb811e;
}
.title h3 {
  font-size: 40px;
  color: #060606;
  line-height: 50px;
  font-weight: 600;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #060606;
}

.btnMain {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.5s;
}
.btnMain:hover {
  background: #009f4d;
  color: #fff;
}

header {
  background-color: transparent;
  padding: 0px;
  height: 90px;
  display: grid;
  align-items: center;
}

.navbar h1 a {
  position: relative;
  color: #fb811e;
  font-size: 2rem;
}
.navbar h1 a i {
  position: absolute;
  top: -10%;
  left: 34%;
  font-size: 1.25rem;
}

.carouselLeft {
  position: absolute;
  left: 10em;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.carouselLeft__content h2 {
  color: var(--bg-grey);
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
  color: #f4f4f4;
  line-height: 27px;
}
.carouselLeft__content-content h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  color: #060606;
}
.carouselLeft__content-content p {
  margin-bottom: 0;
  color: #707070;
  font-size: 20px;
}

.carouselRight {
  margin-left: auto !important;
  padding-right: 0;
}

.item {
  border-bottom-left-radius: 20px;
  min-height: 100vh;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ffffff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
}

.grow__right__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grow__right__content__item {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.03);
  background-color: #fff;
  transition: all 0.3s;
}
.grow__right__content__item:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
.grow__right__content__item h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
}
.grow__right__content__item h4 a {
  transition: all 0.5s;
}
.grow__right__content__item h4:hover a {
  color: #009f4d;
}

.icon img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.what {
  background: #009f4d;
}
.what__title {
  position: relative;
}
.what__title__h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
}
.what__title__heading {
  color: #fff;
}
.what__title__heading h3 {
  color: #fff;
}

.card {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  background: none;
}
.card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.card-body {
  font-family: "Source Sans Pro", sans-serif;
  background: #fff;
  padding: 30px 20px;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
  border-top: none;
}
.card-body span {
  display: inline-block;
  background: rgba(0, 159, 77, 0.16);
  padding: 5px 20px;
  color: #009f4d;
  border-radius: 15px;
  font-weight: 600;
}
.card-body-service {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #060606;
  margin: 15px 0;
}

.why__left__colLeft i {
  font-size: 30px;
  color: #fb811e;
}
.why__left__colLeft__detail h4 {
  font-weight: 600;
}
.why__right img {
  border-radius: 30px;
}
.why__right__inforbox {
  background-color: #fb811e;
  position: absolute;
  padding: 40px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
  left: -85px;
  bottom: 35px;
}
.why__right__inforbox__title {
  font-size: 70px;
  color: #fff;
  line-height: 80px;
  font-weight: 600;
}
.why__right__inforbox__text {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}

/*# sourceMappingURL=main.css.map */
