@import "../helper/variables";
// LIght Theme
#switchButton .fa-sun {
    display: none;
}

// Dark Theme
// HEADER
.dark {
    background-color: $bgDarkColor;
}

.dark #switchButton .fa-sun {
    display: block;
}

.dark #switchButton .fa-moon {
    display: none;
}

// Gobal Title
.dark .title {
    h3 {
        color: #fff;
    }
    p {
        color: $textDecsDark;
    }
}

// Carousel
.dark .carouselLeft__content {
    .farm-text {
        color: $textGreyDark;
    }
    &-content {
        h3 {
            color: #fff;
        }
        p {
            color: $textDecsDark;
        }
    }
}

.dark .grow__right__content__item {
    background-color: $bgDarkColor;
    box-shadow: 0 1rem 3rem $shadowColorDark;
    h4 {
        a {
            color: #fff;
            &:hover {
                color: $textSecondary;
            }
        }
    }
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
    }
}

// What
.dark .card-body {
    background-color: $bgDarkColor;
    a {
        color: #fff;
        &:hover {
            color: $textSecondary;
        }
    }
    p {
        color: $textDecsDark;
    }
}

// Why
.dark .why__left__colLeft {
    &__detail {
        h4 {
            color: #fff;
        }
        p {
            color: $textDecsDark;
        }
    }
}

// Feature
.dark .features__item {
    &:hover {
        border: 1px solid $border-color-lightDT;
        transition: 0.3s ease-in;
    }
    .features-unit {
        &-para {
            h4 {
                color: #fff;
            }
            p {
                color: $textDecsDark;
            }
        }
    }
}