@import "../helper/variables";
.dark {
    background-color: $bgDarkColor;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
    color: white;
}