// TEXT COLOR
$textPrimary:#fb811e;
$textSecondary: #009f4d;
$textGrey:#b7b7b7;
$textHeading:#060606;
// BACKGROUND COLOR
$bgcolor:#fff;
// BORDER
$border-radius: 30px;
$border-radius-full:15px;
$border-color: transparent;
$border-color-light:#eee;
// SHADOW
$shadowColor:rgb(0 0 0 / 3%);
$boxShadow:rgb(0 0 0 / 41%);