// TEXT COLOR
$textPrimary:#fb811e;
$textSecondary: #009f4d;
$textGrey:#707070;
$textGreyTransparent: #f4f4f4;
$textHeadingDark:#060606;
// BACKGROUND COLOR
$bgcolor:#fff;
$bgSecondary: #009f4d;
// BORDER
$border-radius: 30px;
$border-radius-full:15px;
$border-color: transparent;
$border-color-light:#eee;
// SHADOW
$shadowColor:rgb(0 0 0 / 3%);
$boxShadow:rgb(0 0 0 / 41%);
// DARK
$textHeading:#FDFFFC;
$bgDarkColor:#222222;