@import "../helper/variables";
.carouselLeft {
    position: absolute;
    left: 10em;
    z-index: 1;
    top: 0
}

.carouselLeft__content {}

.carouselLeft__content-content {
    h3 {
        font-size: 50px;
        line-height: 60px;
        font-weight: bold;
        color: $textHeadingDark;
    }
    p {
        margin-bottom: 0;
        color: $textGrey;
        font-size: 20px;
    }
}

.carouselRight {
    margin-left: auto !important;
}

.imgca {
    min-height: 100vh;
    padding: 40px 0;
    img {
        width: 100%;
        height: 100%;
    }
}