@import "../helper/variables";
.features {
    &__item {
        margin-top: 30px;
    }
    &-unit {
        border-radius: 10px;
        border: 1px solid transparent;
        padding: 2rem 1rem;
        transition: 0.5s ease-in;
        &:hover {
            border: 1px solid $border-color-light;
        }
        &:hover &-para h4 {
            color: $textSecondary;
        }
        &-para {
            h4 {
                font-size: 22px;
                line-height: 25px;
                font-weight: 600;
                transition: all 0.5s;
            }
        }
    }
}