// .navbar {
//     justify-content: space-between
// }
header {
    background-color: transparent;
    padding: 0px;
    height: 90px;
    display: grid;
    align-items: center;
}

.navbar a {
    position: relative;
    color: $textPrimary;
    font-size: 2rem;
    i {
        position: absolute;
        top: -10%;
        left: 34%;
        font-size: 1.25rem;
    }
}