@import "../helper/variables";
.product {
    &__content {
        margin: 0;
    }
    &__item {
        padding: 0;
        figure {
            position: relative;
            margin: 0;
            img {
                width: 100%;
            }
            h5 {
                position: absolute;
                z-index: 2;
                left: 50%;
                transform: translateX(-50%);
                bottom: 7%;
                font-weight: bold;
            }
        }
    }
}