@import "../helper/variables";
.product {
    &__content {
        flex-wrap: wrap;
    }
    &__item {
        padding: 0;
        figure {
            img {
                width: 100%;
            }
        }
    }
}

.box1 {
    width: 100%;
}