@import "../helper/variables";
.why {
    &__left {
        &__colLeft {
            i {
                font-size: 30px;
                color: $textPrimary;
            }
            &__detail {
                h4 {
                    font-weight: 600;
                }
            }
        }
    }
    &__right {
        img {
            border-radius: $border-radius;
        }
        &__inforbox {
            background-color: $textPrimary;
            position: absolute;
            bottom: 38px;
            padding: 40px;
            box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
            min-width: 300px;
            border-radius: 0 0 100px 0;
            text-align: center;
            left: -10%;
            &__title {
                font-size: 70px;
                color: #fff;
                line-height: 80px;
                font-weight: 600;
            }
            &__text {
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: .2px;
            }
        }
    }
}