@import "../helper/variables";
.why {
    &__left {
        &__colLeft {
            i {
                font-size: 30px;
                color: $textPrimary;
            }
            &__detail {
                h4 {
                    font-weight: 600;
                }
            }
        }
    }
    &__right {
        img {
            border-radius: $border-radius;
        }
        &__inforbox {
            background-color: $textPrimary;
        }
    }
}